.searchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40%;

	padding: 10px;
}

form {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}
input {
	width: 100%;
	height: 40px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 10px 5px 10px grey;
	margin-top: 10px;
}

.locations {
	background-color: white;
	box-shadow: 10px 10px 10px grey;
	border-radius: 5px;
	width: 100%;
	margin: auto;
}

.locations h1 {
	margin: 0;
	font-size: 20px;
}
